.photoslider {

}

.photoslider_nav {
	position: relative;
	left:25px;
	display:block;
	border: solid black 1px;
	overflow: hidden;
	height: 125px;
	width: 512px;
	margin-left:17px;
}

.photoslider_controls {
	position: absolute;
	display:block;
	overflow: hidden;
	height: 120px;
	width: 608px;
	margin-left:0px;
	border: solid #FFF 1px;
	
}

.photoslider_thumbBar {
	position: absolute;
	left: 5px;
	top: 0px;
	display: block;
	margin: 0px;
	padding: 0px;
}

.disabled_img{
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}

.photoslider_thumbSelected {
	border: solid #003300 2px;
}

.photoslider_thumb {
	position: relative;
	vertical-align:middle;
	height: 105px;
	width: 105px;
	float: left;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	background-position:center;
	background-repeat:no-repeat;
}

.photoslider_clear {
	clear: both;
}

.control_mode_left{
	position: relative;
	vertical-align:middle;
	height: 30px;
	float: left;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	z-index:5;
}

.control_mode_right{
	position: relative;
	vertical-align:middle;
	height: 30px;
	float: right;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	z-index:5;
}

.photoslider_main  {
	position: relative;
	vertical-align:middle;
	width:630px;
	height:445px;
	margin-top:10px;
	text-align:center;
	padding-left:0px;
	border: solid #FFF 1px;
	overflow: hidden;
	left:-15px;
}

.photoslider_main img {
	position: relative;
	vertical-align:middle;
	border: solid #000 0px;
	display: block;
	margin: auto;
}



.photoslider_caption {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	color:#000000;
	
}

.photoslider_codfoto {

}

.photoslider_form {

}

.photoslider_idfoto {

}

.photoslider_codalbum {

}

.photoslider_control {
	display: none;
	
	font-weight: bold;
	padding-top: 10px;
	margin: auto;
	height: 30px;
	width: 52px;
}

.photoslider_play, .photoslider_stop {
	width: 18px;
	height: 19px;
	margin: auto;
	padding: 3px;
	cursor: pointer;
	
	border: solid #fff 1px;
	float: left;
}

.photoslider_play {
	background: url('/images/play_pause.gif') no-repeat 0px 0px;
}

.photoslider_stop {
	background: url('/images/play_pause.gif') no-repeat -25px 0px;
}

.slideshow_disabled {
	border-bottom: solid #919191 2px;
}

.leftCaption{margin-left:75px;margin-top:10px}